AniVerse/frontend/node_modules/**/*.node filter=lfs diff=lfs merge=lfs -text
AniVerse/frontend/node_modules/**/*.so filter=lfs diff=lfs merge=lfs -text
AniVerse/frontend/node_modules/**/*.dylib filter=lfs diff=lfs merge=lfs -text
**/*.node filter=lfs diff=lfs merge=lfs -text
**/*.so filter=lfs diff=lfs merge=lfs -text
**/*.dylib filter=lfs diff=lfs merge=lfs -text
**/*.wasm filter=lfs diff=lfs merge=lfs -text
